body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color:white;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #1cb0f6;
    align-items: center;
    padding: 10px;
    top:0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: greenyellow;
}

/*******************************************/
main div{
    text-align: center;
    margin-top: 200px;
}

div h1{
    font-weight: 800;
}

div button{
    background-color: greenyellow;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid black;
}

button:hover{
    background-color: blueviolet;
}
/**************************************/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #1cb0f6;
    bottom: 0;
    height: 60px;
    width: 100%;
    position: absolute;
  
}


/******************************************/

.categorias{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.caja{  
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.categorias a{
    color: black;
}

.caja img{
    width: 350px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.12);
}

.menu div{
    margin-top: 50px;
}

.menu{
    padding: 30px 20px;
}

.pie{
    display: flex;
    justify-content: space-between;
    background-color: #1cb0f6;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.caja h3 a:hover{
    color: green;
}
/*************************/
.menu-juego{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    display: block;
    margin: 10px 0px 20px 10px;
    padding: 10px;
    border-radius: 10px;
}

label{
    font-weight: bold;
    margin-left: 10px;
}

form input[type="text"]{
    width: 270px;
}


form input[type="submit"]{
    background-color: greenyellow;
    color: white;
    font-weight: bold;
}

form input[type="submit"]:hover{
    cursor: pointer;
    background-color: blueviolet;
}

.juego img{
    width: 300px;
}

.juego{
    margin-top: 0;
}

.menu-juego div{
    margin-top: 50px;
}

.pie-juego{
    margin-top: 174px;
}

.menu-juego-php{
    display: flex;
    justify-content:center;
    align-items: center;
}


span{
    color:red;
}

.true{
    color: green;
}

form h1{
    padding: 10px;
}
/*******************/

.login{
    border-radius: 20px;
    border: 1px solid rgba(180, 153, 153, 0.84);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.12);
    margin-top: 50px;
}

.login input[type="text"]{ 
    width: 200px;
}

.login input[type="password"]{ 
    width: 200px;
}

.login input[type="submit"]{ 
    width: 100px;
}

.pie-login{
    margin-top: 486px;
}


h4 a{
    color: greenyellow;
}

#false{
    color: red;
}

#true{
    color: green;
}

.d{
    color: greenyellow;
}

span a{
    color:red;
}


@media (max-width:700px){
    header, footer{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}